body{
  background: linear-gradient(to right, rgb(95, 44, 130), rgb(73, 160, 157));
}
.display{
  background-color: brown;
  height: 430px;
  width: 250px;
  border-radius: 10px;
  border: 2.5px solid black;
  background-color: white;
}
.display h3{
  text-align: center;
  padding: 8px;
  color: white;
  background-color:rgb(77, 149, 250);
  font-size: 17px;
  border-radius: 2px;
  border: 1.5px solid rgb(0, 115, 255);
}
